@font-face
{
	font-family: "pampmousses";
	src: url('../font/monster.TTF');
}

body
{	
	margin: 0;
	padding: 0;

	font-family: pampmousses;
    
    background-color: #C7B676;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
	user-select: none;

	cursor: default;

	overflow: hidden;
}

#content
{
	width: 100vw;
	height: 100vh;

	padding: 150px 0 44px 0;

	box-sizing:border-box;
}

video{
    width: 100%;
    height: auto;
}

img
{
	display: none;
}

.header
{
	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 150px;
	
	padding: 30px 20px 20px 300px;
	
	background-color: #000000;
	background-image: url(../img/logo.png);
	background-position : 50px;
	background-repeat: no-repeat;
	background-size: 200px;
	
	color: #AAAAAA;
	font-size: 30px;
	
	text-transform: uppercase;
    
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
}

.header p
{
	margin: 0;
}

.header .bigger
{
	font-size: 40pt;
}

#infos
{
	position: fixed;
	bottom: 0;
	left: 0;

	width: 100vw;
	padding: 10px;
	background-color: #000000;
	color: #AAAAAA;

	font-size: 20px;
	text-align: center;
}

#head-weapon
{
	position: fixed;
	top: 5%;
	left: 35%;

	width: 35%;
	height: 60px;
	padding: 10px;
	background-color: #000000;
	color: #AAAAAA;

	font-size: 20px;
	text-align: center;
}

#div-combo
{
	position: fixed;
	top: 16%;
	left: 0%;

	width: 10%;
	height: 18px;
	padding: 10px;
	background-color: #00000000;
	color: #BBBBBB;

	font-size: 20px;
	text-align: left;
}

#div-Pseudo
{
	position: fixed;
	top: 35%;
	left: 40%;

	width: 20%;
	/*height: 80px;*/
	padding: 10px;
	background-color: #999999;
	border-radius: 10px;
	color: #EEEEEE;
	z-index: 999999;
	font-size: 20px;
	text-align: left;
}


#screamer
{
	position: fixed;
	bottom: 0;
	left: 0;

	width: 100%;
    height: 100%;
}
#screamerIMG
{
	position: fixed;
	bottom: 0;
	left: 0;

	width: 100%;
    height: 100%;
}
#Screamer1
{
	position: fixed;
	bottom: 0;
	left: 0;
    
	width: 100%;
    height: 100%;
}
#Screamer2
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
    height: 100%;
}

#Pangolino
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.label
{
	display: inline-block;
	vertical-align:top;

	width: 24px;
	height: 24px;

	margin-right: 40px;

	background-repeat: no-repeat;
	background-position: center;
}

.labelWeapon
{
	display: inline-block;
	vertical-align:top;

	width: 60px;
	height: 60px;

	margin-right: 40px;

	background-repeat: no-repeat;
	background-position: center;
}

.unused {
	filter: grayscale(100%);
}

#label-points-de-vie
{
	background-image: url(../img/vie.png);
}

#label-weapon-1
{
	background-image: url(../img/weapon/weapon.png);
}

#label-weapon-2
{
	background-image: url(../img/weapon/weapon_type_2.png);
}

#label-weapon-3
{
	background-image: url(../img/weapon/weapon_type_3.png);
}

#label-munitions
{
	background-image: url(../img/presse-agrumes.png);
}

#label-score
{
	background-image: url(../img/score.png);
}
#label-points-de-bouclier
{
	background-image: url(../img/Shield.png);
}

#label-high-score
{
	background-image: url(../img/high-score.png);
}

#niveau
{
	margin-right: 40px;
}

.info
{
	display: inline-block;
	vertical-align:top;

	margin-right: 10px;
	text-align: right;

	box-sizing: border-box;
}

#infos p
{
	padding: 10px;
}
#content{
	cursor: url(../css/target.png), auto;
}

#canvas-dessin {
	cursor: url(../css/target.png), auto;
}

canvas
{
	width: 100%;
	height: 100%;
    cursor: url(./target.png), auto;
    background-color : #000000;
	box-sizing: border-box;
}

.bandeau
{
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;

	width: 100vw;

	text-align: center;
	font-size: 50px;
	background-color: #000000;
	color: #AAAAAA;


	box-shadow: 0 0 10px #000000;
	box-sizing: border-box;
}

.bandeau p
{
	margin: 10px 0 10px 0;
}

input[type="button"]
{
	padding: 10px;

	font-family: pampmousses;
	font-size: 20px;

	background-color: #CCCCCC;
	border: 1px solid #000000;

	box-shadow: 0 0 4px #000000;
	box-sizing: border-box;

	cursor: pointer;
}

input[type="text"]
{
	padding: 10px;

	font-family: pampmousses;
	font-size: 20px;

	background-color: #CCCCCC;
	border: 1px solid #000000;

	box-shadow: 0 0 4px #000000;
	box-sizing: border-box;

}

