{% extends 'base.html.twig' %}

{% block body %}
    <title>Earth Defence - COVID-Invaders</title>
    <div style="background-image:url(virusbckg.jpg)">
        <div style="align-content: center; margin: auto; padding-top: 330px;  " class="w-25">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-3" style="">{{ form_label(form.nom) }}</div>
                <div class="col-9">{{ form_widget(form.nom) }}</div>
            </div>
            <div style="text-align: center; margin-top: 15px; margin-left: auto">
                <button type="submit" class="btn btn-primary"> BATTEZ VOUS !</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
